@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Jakarta_Sans_ExtraBold';
  src: url('../public/fonts/PlusJakartaSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Jakarta_Sans_Bold';
  src: url('../public/fonts/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Jakarta_Sans_Medium';
  src: url('../public/fonts/PlusJakartaSans-Medium.ttf');
  font-weight: 500, 600;
}

@font-face {
  font-family: 'Jakarta_Sans_Regular';
  src: url('../public/fonts/PlusJakartaSans-Regular.ttf');
  font-weight: 400;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Jakarta_Sans_Regular'; */
}

/* #aboutText,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jakarta_Sans_ExtraBold';
} */

h1,
#fontWeight {
  font-weight: 900 !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

::selection {
  background: #03e5b7;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e7edef;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #037ade;
}

.dark::-webkit-scrollbar-thumb {
  background: #0e1623;
}

::-webkit-scrollbar-thumb:hover {
  background: #058bf9;
}

#overFlowXAxies::-webkit-scrollbar {
  display: none;
  --webkit-scrollbar-width: none;
  -ms-scrollbar-width: none; /* IE and Edge */
  scrollbar-width: none;
}
